# Calendar-sync/requirements.txt
Flask==3.0.3
google-api-python-client==2.137.0 # Cần để gọi Calendar API
google-auth-httplib2==0.2.0      # Hỗ trợ transport cho google-api-python-client
google-auth>=2.0.0               # Cần cho Credentials class (có thể đã được cài cùng client)
beautifulsoup4==4.12.3
lxml
requests
gunicorn==22.0.0 # Nếu bạn dùng gunicorn để deploy